.custom-button {
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.green-button {
    background-color: var(--soft-green);
    color: var(--thicker-green);
}

.blue-button {
    background-color: var(--soft-blue);
    color: var(--thicker-blue);
}

.yellow-button {
    background-color: var(--soft-orange);
    color: var(--thicker-orange);
}

.red-button {
    background-color: var(--soft-red);
    color: var(--thicker-red);
}

.purple-button {
    background-color: var(--soft-purple);
    color: var(--thicker-purple);
}


