.header {
    min-width: 100%;
    background-color: white;
    color: var(--thicker-blue);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line to center items vertically */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0.5rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to center the button vertically */
    height: 3rem;
    margin-right: 0.25rem;
}

.transparent-button {
    background-color: var(--soft-red);
    padding: 0.5rem 1rem;
    width: fit-content !important;
}

.transparent-button-text {
    color: var(--thicker-red);
}

.header-logo {
    width: 4rem;
    height: 4rem;
}

@media screen and (max-width: 992px) {
    .header-logo {
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .header-logo {
        width: 3rem;
        height: 3rem;
    }
}
