/* Header.tsx stylers */

.header {
    background-color: white;
    color: var(--thicker-blue);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.transparent-button {
    background-color: var(--soft-red);
    width: fit-content !important;
}

.transparent-button-text {
    color: var(--thicker-red);
}

.header-logo {
    width: 10rem;
    height: auto;
}
