.records-container {
    margin: 0 2rem;
    overflow: auto;
}

.records-table {
    width: 100%;
    overflow: auto;
}

.records-table th,
.records-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.records-table th {
    background-color: #f2f2f2;
}

.records-table tbody tr:hover {
    background-color: #f5f5f5;
}

.records-table th,
.records-table td:first-child {
    width: fit-content;
}

.records-table th:first-child,
.records-table td:first-child {
    text-align: center;
}

.records-table th,
.records-table td:last-child {
    text-align: center;
}

.records-table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.record-name-link {
    text-decoration: underline;
    color: var(--thicker-purple);
    cursor: pointer;
}

.record-headline {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.record-headline h1 {
    padding: 4rem 2rem;
    font-size: 4rem;
}

.record-actions {
    display: flex;
    justify-content: center;
}

.record-actions button {
    padding: 0.25rem 0.75rem;
}

@media (max-width: 992px) {
    .record-headline h1 {
        padding: 3rem 1.5rem;
        font-size: 3rem;
    }
}

@media (max-width: 783px) {
    .record-headline h1 {
        padding: 2rem 1rem;
        font-size: 2rem;
    }

    .record-actions {
        gap: 0.25rem;
    }
}