html,
body {
    height: 100%;
    margin: 0;
}

.video-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    margin-top: 30%;
    width: 100%;
    height: 100%;
    object-fit: contain !important;
}
