html,
body {
    height: 100%;
    margin: 0;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin: 0 2rem;
}
