.video-frame-container {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.video-frame {
    object-fit: cover;
}

.coordinate-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}