@import 'styles/tailwind.css';
@import 'styles/header.css';
@import 'styles/actions.css';
@import 'styles/hero.css';
@import 'styles/video-frame.css';
@import 'styles/button.css';
@import 'styles/video-preview.css';
@import 'styles/apexchart.css';
@import 'styles/save-video-modal.css';
@import 'styles/loader.css';
@import 'styles/records.css';
@import 'styles/no-records.css';
@import 'styles/confirm-modal.css';
@import 'styles/delete-modal.css';

.html {
    font-size: 16px;
}

.body {
    min-height: 100%;
    background-color: var(--platinum);
    font-size: 1rem;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --soft-green: #e0f8e9;
    --thicker-green: #67c993;

    --soft-orange: #fbebdb;
    --thicker-orange: #f8b669;

    --soft-purple: #f1ebf8;
    --thicker-purple: #9d80bf;

    --soft-red: #f7d4d4;
    --thicker-red: #e04d4d;

    --soft-blue: #e0edff;
    --thicker-blue: #4d73e0;

    --platinum: #f3f3f3;
}

@media screen and (max-width: 991px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 13px;
    }
}
